{% extends "base.njk" %}

{% block mainContent %}

<div class='inside'>

  <!-- title -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class='Grid-cell'>
      <h2>About</h2>
    </div>
  </div>

  <!-- <h2>About</h2> -->

  <!-- kolonner -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    
    <div class='Grid-cell'>
      
      <p>CANTINA is an artist-run exhibition space run by members of the studio community <a href='http://corporum.dk/' target='_blank'>Corporum</a>. CANTINA is based at Godsbanen in Aarhus, Denmark</p>
    </div>



    <div class='Grid-cell'>
      
      <p>
        <a href='https://www.facebook.com/cancancantina' target='_blank'>Facebook</a><br/>
        <a href='https://www.instagram.com/cancancantina/' target='_blank'>Instagram</a><br/>
        <a href = "mailto: info@cancancantina.xyz">Email</a>
        <p>Address: CANTINA, Skovgaardsgade 3G, DK-8000 Aarhus C</p>
      </p>
    </div>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2222.1760314254207!2d10.192802051606803!3d56.15406098056775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c3f686f75a33d%3A0xecad055a6ade2217!2sCantina!5e0!3m2!1sda!2sdk!4v1633434103724!5m2!1sda!2sdk" width="33%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>  

{% endblock mainContent %}

