{% extends "base.njk" %}

{% block mainContent %}

  <div class='inside'>

    <!-- title -->
     <div class="Grid Grid--gutters Grid--full large-Grid--fit">
      <div class='Grid-cell'>
        <h1>Press</h1>
         </div>
    </div>
    
    <!-- kolonner -->
    <div class="Grid Grid--gutters Grid--full large-Grid--fit">

      <!-- første kolonne -->
      <div class='Grid-cell'>
        <h3>☠ or Glory</h3> 
          <a href="https://artviewer.org/or-glory-at-cantina/">ArtViewer</a><br><br>
          <a href="https://kubaparis.com/%E2%98%A0%EF%B8%8F-or-glory/">KubaParis</a><br><br>
          <a href="https://www.ofluxo.net/or-glory-group-exhibition-at-cantina-aarhus-denmark/">OFLUXO</a><br><br>
          <a href="https://www.idoart.dk/kalender/gruppeudstilling-or-glory">IDOART</a><br><br>
          <a href="https://kunsten.nu/artguide/calendar/death-or-glory/">Kunsten.nu</a><br><br>
      </div>
    
    <!-- anden kolonne -->
      <div class='Grid-cell'>
        <h3>Symmetrical Floundering</h3> 
          <a href="https://kubaparis.com/symmetrical-floundering/">KubaParis</a><br><br>
          <a href="https://www.ofluxo.net/symmetrical-floundering-inside-job-at-cantina-denmark/">OFLUXO</a><br><br>
          <a href="https://www.idoart.dk/kalender/inside-job-symmetrical-floundering">IDOART</a><br><br>
      </div>    
      
      <!-- første kolonne -->
      <!--<b> ☠ or Glory </b>-->
       <!-- <div class='Grid-cell'>
        <a href="https://artviewer.org/or-glory-at-cantina/"><img alt="ArtViewer" src="/assets/images/logoer/artViewer.png" width="250" height="50" style="vertical-align:middle;margin:25px 0px"></a>
      
      <div>
        <a href="https://www.idoart.dk/kalender/gruppeudstilling-or-glory"><img alt="IDOART" src="/assets/images/logoer/idoart.png" width="150" height="150" style="vertical-align:middle;margin:25px 0px"></a>
      </div>
      
      <div>
        <a href="https://kunsten.nu/artguide/calendar/death-or-glory/"><img alt="Kunsten.nu" src="/assets/images/logoer/kunstennu.png" width="250" height="100" style="vertical-align:middle;margin:25px 0px"></a>
      </div>
      <div>
        <a href="https://kubaparis.com/%E2%98%A0%EF%B8%8F-or-glory/"><img alt="KubaParis" src="/assets/images/logoer/KubaParis.png" width="250" height="100" style="vertical-align:middle;margin:25px 0px"</a>
      </div>
      <div>
        <a href="https://www.ofluxo.net/or-glory-group-exhibition-at-cantina-aarhus-denmark/"><img alt="ofluxo" src="/assets/images/logoer/Fluxo.png" width="250" height="100" style="vertical-align:middle;margin:25px 0px"></a>
      </div>  
    </div> -->
        <!-- ande kolonne -->
        <!--<div class='Grid-cell'>
          <p></p>
        </div>-->

    </div>

  </div>

{% endblock mainContent %}